<div
  class="min-h-screen bg-gradient-to-br from-slate-900 via-purple-900 to-slate-900 flex items-center justify-center sm:p-4"
>
  <div>
    <div class="portrait-narrow text-center mb-8 hidden">
      <h1
        class="text-5xl font-bold text-white mb-2 bg-gradient-to-r from-blue-400 to-purple-400 bg-clip-text text-transparent"
      >
        Grid Reflex
      </h1>
      <p class="text-slate-300">Click the highlighted cells before time runs out!</p>
    </div>

    <div class="flex flex-col items-center justify-center gap-4">
      <gridder-game-controls />
      <gridder-game-scoreboard />
      <gridder-game-grid />
    </div>

    @if (isGameFinished()) {
      <gridder-modal
        [playerScore]="playerScore()"
        [computerScore]="computerScore()"
        [winner]="winner()!"
        (ondismiss)="dissmissModal()"
        (onrestart)="restartGame()"
      />
    }
  </div>
</div>
